body {
  font-family: 'OpenSans'
}

.content {
  padding-top: 5em;
}

.active {
  text-decoration: underline;
}

.navbar {
    margin-bottom: 0;
    /*background-color: #337ab7;*/
    background-color: white;
    /* z-index: 9999; */
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
    color: black !important;
}

a.navbar-brand {
  padding: 7px 15px;
}

.navbar li a, .navbar .navbar-brand img {
    height: 100%;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #337ab7 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
nav.navbar.navbar-default.navbar-fixed-top {
  border-bottom: 1px solid black;
}
