body {
  font-family: 'OpenSans'
}

.content {
  padding-top: 5em;
}

/*
* NavBar
*/
.navbar {
    margin-bottom: 0;
    /*background-color: #337ab7;*/
    background-color: white;
    /* z-index: 9999; */
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
    color: black !important;
}

a.navbar-brand {
  padding: 7px 15px;
}

.navbar li a, .navbar .navbar-brand img {
    height: 100%;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #337ab7 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
nav.navbar.navbar-default.navbar-fixed-top {
  border-bottom: 1px solid black;
}

/*
* Sign In form
*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
